.App {
  display: flex;
  flex-direction: row;
}

.todos {
  background: grey;
  height: 600px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.done {
  background: grey;
  height: 600px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.item {
  margin-top: 10px;
  padding: 5px;
  background-color: aquamarine;
  border-radius: 3px;
  cursor: grab;
}